[submodule "src/lib/epub_parse_module"]
	path = src/lib/epub_parse_module
	url = https://gitcode.com/floron/epub_parse_module.git

[submodule "src/lib/epub_note_module"]
	path = src/lib/epub_note_module
	url = https://gitcode.com/floron/epub_note_module.git
